server {
  # Listen to port defined by Heroku
  listen $PORT default_server;

  location / {        
    root /usr/src/app/build;
  }


  location /api {
    proxy_pass https://my-react-backend.herokuapp.com/;
  }
}